<h2>Manage Adoption Request</h2>
<form method="POST">
    {% csrf_token %}
    <label>Status:</label>
    <select name="status">
        <option value="Pending" {% if adoption_request.status =="Pending" %} selected {% endif %}>Pending</option>
        <option value="Approved" {% if adoption_request.status =="Approved" %} selected {% endif %}>Approved</option>
        <option value="Rejected" {% if adoption_request.status =="Rejected" %} selected {% endif %}>Rejected</option>
    </select>
    <button type="submit">Update</button>
</form>
<a href="{% url 'adoption_request_list' %}">Back</a>
